$link: #0080ad;
$brand-primary: #003056;
$notbook: #003056;
$button-box: #003056;
$Label-value: #003056;
$heading: #0080ad;
$Label: #003056;
$brand-secondary: #0080ad;
$tooltip: #003056;
$menu-main-title: #003056;
$border: #dde6f3;
