/* Arabic */
@font-face {
  font-family: 'Cairo_arabic';
  font-style: normal;
  font-weight: 400;
  src: url('/arabic_theme/static/src/fonts/Cairo.woff2') format('woff2');
}

/* English */
@font-face {
  font-family: 'Cairo_latin';
  font-style: normal;
  font-weight: 400;
  src: url('/arabic_theme/static/src/fonts/Cairo_latin.woff2') format('woff2');
}

body{
    font-family:'Cairo_arabic','Cairo_latin', Arial, sans-serif !important;
    font-size:12px;
    }

.o_mail_thread .o_thread_date_separator .o_thread_date,
.o_form_view .o_group .o_td_label .o_form_label,
.o_form_view .o_form_label,
.table th, .table td{
    font-size: 1.0rem;
    font-weight:unset !important;
}

.o_form_view .o_horizontal_separator{
     font-size: 1.5rem;
    font-weight:unset !important;
}
.o_list_view .o_column_sortable{
    position:static !important;
}